{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{ program.title }}</h3>
    <h3>Saison n°{{ season.number }}</h3>
    <h3>Épisode n°{{ episode.number }} : {{ episode.title }}</h3>
    <p>{{ episode.synopsis }}</p>
{% endblock body %}